.heading {
    text-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Cursive, "Lucida Handwriting";
    width: 400px;
}

.small {
    color: red;
}